* {
    margin: 0;
    padding: 0;
}

body{
    background: rgb(97, 110, 122);
}

/* General container */
#vending-machine {
    display: flex;
    height: 85vh;
    background: rgb(74, 97, 86);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0px 20px 20px 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ------------------- Right panel styles -----------------*/
#messages, #selected-item, #change, #returned-money {
    font-size: 20px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: lime;
    border: 2px solid rgb(17, 117, 55);
    border-radius: 10px;
    width: 80%;
}


.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 100%;
}

.return-money__section {
    height: 100px;
}

.selected-item__section{
    height: 110px;
}

.selected-item__section{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.selected-item__section {
    display: flex;
    flex-direction: column;
}

.add-money {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 5px;
}

.add-money {
    height: 70px;
    width: 250px;
}

.add-money-btn {
    height: 100%;
    background: rgb(184, 247, 210);
    border-radius: 10px;
    border: 2px solid rgb(17, 117, 55);
    font-weight: 700;
}

.selected-item-btn, .returned-money-btn {
    height: 100%;
    background: rgb(184, 247, 210);
    border-radius: 10px;
    border: 2px solid rgb(17, 117, 55);
    font-weight: 700;
}

button {
    cursor: pointer;
    border: none
}

.buy-items-panel {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 30px;
    border-left: 2px solid rgb(0, 0, 0);
    flex-wrap: wrap;

}

#make-purchase {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

button:hover{
    background: rgb(0, 255, 179);
}

h1 {
    text-align: center;
}



/* ------------------- END Right panel styles -----------------*/


/* -------------------- Beginning Left Panel Styles ----------*/
.items-grid__list {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;
    width: 50vw;
}

.item h4 {
    width: 100%;
    height: 30%;
    background: rgb(124, 124, 187);
    top: auto;
    text-align: center;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    height: 50%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.item:hover::before, .item:hover::after{
    opacity: 0.2;
}

.item:hover {
    transform: translateY(-8px); /* Aplica la transformación en hover */
}

.item::before, .item::after{
    content: "";
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(208, 255, 0);
    transition: opacity 0.3s;
}

.item h2,
p {
    height: 100%;
    background: rgb(122, 160, 165);
    width: 100%;
}
input{
    outline: none;
}

/* ------------------- END Left panel styles -----------------*/
